<div id="documents-content" class="tab-pane fade" role="tabpanel" aria-labelledby="documents-tab">
	<div class="d-flex flex-row justify-content-between px-3">
		<h2 class="d-inline m-0">Mes documents</h2>
		<a href="{{ path('documenttype_new') }}" class="btn searchBtn"
		   style="text-transform: none">Nouveau
			document</a>
	</div>
	{% if app.user.documents %}
		<small class="px-3">Cliquez sur un document pour le modifier</small>
		<div class="list-group list-group-flush mt-3">
			{% for document in app.user.documents|sort((a, b) => b.createdAt <=> a.createdAt) %}
				<div class="d-flex flex-row {% if not(loop.last) %}border-bottom{% endif %}">
					<a href="{{ path('documenttype_edit', { 'slug' : document.slug }) }}"

					   class="list-group-item list-group-item-action flex-column align-items-start border-0 bgrd-accent-light"
					   style="text-transform: none; font-weight: normal">
						{% if not(document.isActive) %}
							<p class="text-warning m-0">Ce document est en attente de validation par
								un
								administrateur</p>
						{% endif %}
						<div class="d-flex w-100 justify-content-between mb-2">
							<h3 class="h5">[{{ document.categorydonnees }}
								] {{ document.title }}</h3>
							<small>{{ document.createdAt|format_datetime(locale='fr',pattern='d MMM Y') }}</small>
						</div>
						<p>{{ document.getSummary }}</p>
						<small>Auteur(s) :
							{% for author in document.author %}
								{% if loop.index != 1 %}
									{{ ', ' }}
								{% endif %}
								{{ author.getFullName }}
							{% endfor %}
						</small>
					</a>
					{{ include('documenttype/_delete_form.html.twig') }}
				</div>
			{% endfor %}
		</div>
	{% else %}
		<p>Aucun document rédigé</p>
	{% endif %}
</div>