{% extends 'base.html.twig' %}

{% block title %}SQVALD | Évènements{% endblock %}

{% block style %}
	<style>
        #resetFilter {
            text-transform: none;
            font-weight: normal;
        }

        #resetFilter:hover {
            font-style: italic;
            font-weight: bold;
        }

        .accordion-button:not(.collapsed) {
            color: initial;
            background-color: unset;
            box-shadow: unset;
        }

        .accordion-button:hover {
            background-color: rgba(0, 0, 0, .05);
        }

        .accordion-button {
            padding: .5rem 1.5rem .5rem .75rem;
            font-size: 2rem;
        }

        .accordion-button:not(.collapsed)::after {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        }

        .accordion-item:last-of-type .accordion-button.collapsed {
            border-bottom-right-radius: unset;
            border-bottom-left-radius: unset;
        }

        hr.featurette-divider {
            height: .5px;
        }
	</style>
{% endblock %}

{% block script %}
	<script>
        window.onload(function () {
            var defaultChoice = document.getElementById('search_event_isEndBefore_placeholder').parentElement;
            defaultChoice.style.display = 'none';
        })
	</script>
{% endblock %}

{% block body %}
	<main>
		<div class="container d-flex justify-content-between align-items-center">
			<h1 class="my-3">Évènements</h1>
			<a class="text-muted mx-4 text-decoration-none" id="resetFilter"
			   href="{{ path('events_index') }}">Supprimer
				les filtres</a>
		</div>
		<hr class="featurette-divider mt-0 mb-0">
		<div class="accordion accordion-flush p-0" id="accordionExample">
			<div class="accordion-item">
				<div class="accordion-header" id="headingOne">
					<button class="h2 accordion-button mb-0 collapsed container" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						Recherche
					</button>
				</div>
				<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
					 data-bs-parent="#accordionExample">
					<div class="p-0 accordion-body">
						<div>
							<div class="container">
								{{ form_start(form) }}
								<div class="row mt-3">
									<div class="col-6">{{ form_row(form.keyword) }}</div>
									<div class="col-6">{{ form_row(form.place) }}</div>
								</div>
								{{ form_label(form.categories) }}
								<div class="border-flush row my-2 py-2">
									{% for i in 0..form.categories|length-1 %}
										<div class="col-3">
											{{ form_widget(form.categories[i]) }}
											{{ form_label(form.categories[i]) }}
										</div>
									{% endfor %}
								</div>
								{{ form_label(form.date) }}
								<div class="row align-items-center mb-3">
									{% for child in form.isEndBefore %}
										<div class="col-2">{{ form_widget(child) }}</div>
									{% endfor %}
									<div class="col-8">
										{{ form_widget(form.date) }}
									</div>
								</div>
								<div class="pb-3">
									{{ form_widget(form.submit, {'attr' : {'class' : 'searchBtn'}}) }}
								</div>
								{{ form_rest(form) }}
								{{ form_end(form) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr class="featurette-divider mt-0 mb-0">
		<div>
			<div class="container">
				{% for event in events %}
					<a href="{{ path('showEvent', {'slug':event.slug}) }}" class="link-card"
					   style="color: black; text-decoration: none; padding: 0; text-transform: none; font-weight: normal">
						<div class="card card-custom mt-3 brd-primary">
							<div class="card-header p-0">
								<p class=" card-name h4 mb-0 p-2 d-inline-block bgrd-primary-light color-accent-light"> {{ event.title }} </p>
							</div>

							<div class="card-body">
								<div class="row">
									<div class="col-4 d-flex flex-column justify-content-between">
										<p>
											<i class="fas fa-briefcase"></i>
											{{ event.category.name }}
										</p>
										<p>
											<i class="fa fa-calendar"></i>
											Du {{ event.dateBegin|date('d-m-Y') }} au {{ event.dateEnd|date('d-m-Y') }}
										</p>
										<p class="mb-0">
											{% if event.place %}
												<i class="fas fa-map-marker-alt"></i>
												{{ event.place }}
											{% endif %}
										</p>
									</div>
									{% if event.resume %}
										<div class="col-8">
											<p class="d-inline-block">{{ event.resume }}</p>
										</div>
									{% endif %}
								</div>
							</div>
						</div>
					</a>
				{% endfor %}
				<div class="d-flex justify-content-center">
					{% do events.setPageRange(5) %}
					{{ knp_pagination_render(events, 'pagination/pagination.html.twig') }}
				</div>
			</div>
		</div>
	</main>
{% endblock %}

