{% extends 'base.html.twig' %}

{% block title %}DonneesType index{% endblock %}

{% block body %}
    <h1>DonneesType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for donnees_type in donnees_types %}
            <tr>
                <td>{{ donnees_type.id }}</td>
                <td>{{ donnees_type.name }}</td>
                <td>
                    <a href="{{ path('donnees_type_show', {'id': donnees_type.id}) }}">show</a>
                    <a href="{{ path('donnees_type_edit', {'id': donnees_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('donnees_type_new') }}">Create new</a>
{% endblock %}
