{{ form_start(form) }}
{{ form_row(form.title) }}
{{ form_row(form.resume) }}
{{ form_row(form.content) }}
<div class="row" id="formAuthors">
    {{ form_label(form.authors) }}
    {{ form_help(form.authors) }}
    {{ form_widget(form.authors) }}
</div>
{{ form_rest(form) }}
<button type="submit" id="btn" hidden>{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
<div class="row justify-content-center my-3" id="submitRow">
    <label for="btn" class="btn searchBtn w-auto mx-2">Valider</label>
</div>
