<!DOCTYPE html>
<html lang="en">
<head class="pb-0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>{% block title %}SQVALD{% endblock %}</title>


    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/carousel.css') }}" rel="stylesheet">
{#    <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet">#}
    <link href="{{ asset('assets/css/styles/membre.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/styles/styleForm.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/css/styles/styleDescrip.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/css/styles/global.css') }}" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600&display=swap"
          rel="stylesheet">

    <link href="{{ asset('assets/fontawesome-free-5.15.4-web/fontawesome-free-5.15.4-web/css/all.css') }}"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    {% block stylesheets %}
        {# {{ encore_entry_link_tags('app') }} #}
    {% endblock %}

    {% block script %}{% endblock %}
    {% block style %}{% endblock %}


    <style>


        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        #flashes>div:hover {
            cursor: pointer;
        }

        .dropdown-menu {
            padding: 0;
        }

        .dropdown-divider {
            margin: 0;
        }

        .dropdown-item {
            padding: 1rem;
        }

        .dropdown-item:hover, .dropdown-item:focus {
            background-color: rgba(0,0,0,0.1);
        }

        .navbar a {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 12px;
        }

        .navbar-brand {
            font-size: initial !important;
        }
    </style>

</head>
<body class="bgrd-accent-light pb-0">
<header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bgrd-secondary" style="padding-left: 12px; padding-right: 12px">

        <a class="navbar-brand color-primary-light" href="/">SQV<span class="color-accent-light">ALD</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
                aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link color-primary-light" href="{{ path('home') }}">Accueil
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link color-primary-light" href="{{ path('a_propos') }}">A propos</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link color-primary-light" href="{{ path('documents_index') }}">Documents</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link color-primary-light" href="{{ path('news_index') }}">News</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link color-primary-light" href="{{ path('calendar') }}">Calendrier</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link color-primary-light" href="{{ path('videos_index') }}">Vidéos</a>
                </li>

                <li class="nav-item dropdown color-primary-light">
                    <a class="nav-link dropdown-toggle color-primary-light" data-bs-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">Consortium</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item color-primary-light" href="{{ path('partners_index') }}">Partenaires</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item color-primary-light" href="{{ path('show_membre') }}">Membres</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="navbar-item-custom">
            {% if app.user %}
                <a href="{{ path('account') }}" class="nav-link d-inline color-primary-light brd-primary-light" style="border-right: solid 1px">Mon espace</a><a href="{{ path('app_logout') }}" class="nav-link d-inline color-primary-light brd-primary-light" style="border-left: solid 1px">Déconnexion</a>
            {% else %}
                <a href="{{ path('app_login') }}" class="nav-link d-inline color-primary-light brd-primary-light" style="border-right: solid 1px">Connexion</a><a href="{{ path('app_register') }}" class="nav-link d-inline color-primary-light brd-primary-light" style="border-left: solid 1px">S'inscrire</a>
            {% endif %}
        </div>
    </nav>

    <div class="container-fluid" id="flashes">
        {% for flash in app.flashes('success') %}
            <div class="alert alert-success my-2" onclick="this.style.display = 'none'">{{ flash }}</div>
        {% endfor%}
        {% for flash in app.flashes('warning') %}
            <div class="alert alert-warning my-2" onclick="this.style.display = 'none'">{{ flash }}</div>
        {% endfor%}
        {% for flash in app.flashes('error') %}
            <div class="alert alert-danger my-2" onclick="this.style.display = 'none'">{{ flash }}</div>
        {% endfor%}
    </div>

</header>
</div>
{% block body %}

{% endblock %}
{# <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> #}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.bundleV4.js') }}"></script>
{# <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>{#

    <script src="{{ asset('assets/js/popper.min.js') }}"></script>
    <script src="{{ asset('assets/owlcarousel/js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('assets/js/magnific-popup.min.js') }}"></script>
    <script src="{{ asset('assets/js/waypoints.min.js') }}"></script>
    <script src="{{ asset('assets/js/parallax.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.countdown.min.js') }}"></script>
    <script src="{{ asset('assets/js/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ asset('assets/js/isotope.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.dd.min.js') }}"></script>
    <script src="{{ asset('assets/js/slick.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.elevatezoom.js') }}"></script>
    <script src="{{ asset('assets/js/scripts.js') }}"></script> #}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        //alert("Super");
        $('.js-partners-multiple').select2();
    });
</script>
<script>
    $(document).ready(function () {
        //alert("Super");
        $('.js-author-multiple').select2();
    });
</script>


</body>
</html>
